<div class="container">
    <form #formAjoutTache="ngForm" (ngSubmit)="createTache(formAjoutTache)">
        <fieldset>    
            <div *ngIf="this.utils$.value.length != 0">
                <select id="utilisateur" name="utilisateur" class="custom-select bg-primary text-light">
                    <option  selected="selected" value="">Utilisateur</option>
                    <option *ngFor="let util of utils$ |async" (click)="selectUtil(util.id)" 
                        value={{util.id}}>{{ util.nom }} {{ util.prenom}}</option> 
                </select>
            </div>
            <div *ngIf="this.utils$.value.length == 0">
                <select id="utilisateur" name="utilisateur" class="custom-select bg-primary text-light">
                    <option  selected="selected" value="">Aucun Utilisateur</option>
                </select>
            </div>
            <div *ngIf="this.categs$.value.length != 0">
                <select id="categorie" name="categorie" class="custom-select bg-primary text-light">
                    <option selected="selected" value="">Catégorie</option>
                    <option *ngFor="let categ of categs$ | async " (click)="selectCateg(categ.id)"
                        value={{categ.id}}>{{categ.libelle}}</option>
                </select>
            </div>
            <div *ngIf="this.categs$.value.length == 0">
                <select id="categorie" name="categorie" class="custom-select bg-primary text-light">
                    <option  selected="selected" value="">Aucune Catégorie</option>
                </select>
            </div>
            <div>
                <input  
                required         
                [(ngModel)]="newTache.libelle"
                name="text"
                type="text"
                placeholder="Votre tâche">
            </div>    
        </fieldset> 
        <button type="submit">Ajouter</button>        
    </form>
    <aside id="gauche">
        <h1>Tableau des tâches non faites</h1>
        <div *ngFor="let tache of tachesNonFaites$ |async">
            {{ tache.libelle }} this.getUtilNom({{ tache.utilisateur_id}})  this.getCatLabel({{tache.categorie_id}})

        </div>
    </aside>
    <aside id="droite">
        <h1>Tableau des tâches faites</h1>
        <div *ngFor="let tache of tachesFaites$ |async">
            {{ tache.libelle }} this.getUtilNom({{ tache.utilisateur_id}})  this.getCatLabel({{tache.categorie_id}})

        </div>
    </aside>
</div>
